
@{
    ViewBag.Title = "Fill The Form";
}

<h2>Fill The Form</h2>
<h4>For Each Passenger</h4>

<span> Taxi For One : <span id="LuggagePrice">@ViewBag.LuggagePrice</span></span>
<form asp-controller="TripsSearch" asp-action="SubmitForm" method="post">
    <p>
        @for (int i = 0; i < ViewBag.NumTrav; i++)
        {
            var name = "Name-" + Convert.ToString(i);
            var needtaxi = "needtaxi-" + Convert.ToString(i);

            <label for=@name>Name:</label>
            <input class="text-box single-line" required type="text" name=@name id="asdf" />

            <label for=@needtaxi>Need Taxi:</label>
            <input class="text-box single-line LuggagePrice-check" type="checkbox" onchange="toggleCheckbox(this)" name=@needtaxi id="asdf" />
            <hr />
            <br />
        }
        <label for="CardNum">Card Number:</label>
        <input type="text" required name="CardNum" />
        <input type="submit" value="Submit and Pay" />
        <input type="text" value=@ViewBag.trip hidden name="trip"/>
        <input type="number" value=@ViewBag.NumTrav hidden name="NumTrav"/>
    </p>
</form>

<span> Total : <span id="current_total" name="current_total" ></span></span>
<p id="orig_total" hidden>@ViewBag.price</p>


<script>
    var orig_total = parseFloat(document.getElementById("orig_total").innerText);
    var LuggagePrice = parseFloat(document.getElementById("LuggagePrice").innerText);
    document.getElementById("current_total").innerText = orig_total;
    function toggleCheckbox(element) {
        var checks = document.getElementsByClassName("LuggagePrice-check");
        checked = 0
        for (var i = 0; i < checks.length; i++) {
            if (checks.item(i).checked) {
                checked++;
            }
        }
        document.getElementById("current_total").innerText = orig_total + (LuggagePrice * checked);
    }
</script>